html,
html {
  color-scheme: dark;
}
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: rgb(25, 31, 38);
  color: #f2f2f2;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next{
  padding: 20px;
}

.table-dark {text-align: center; min-height: 150px;}
.table-dark td {vertical-align: middle;}
.table-dark th {vertical-align: middle;}

.filters {
  display: flex;
  justify-content: center;
}
.filters .date {
  display: flex;
}
.filters .react-datepicker-wrapper {
  float: left;
  width: 215px !important;
}